*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
.app {
  max-width: 80em;
  margin: 0 auto;
}
.header {
  text-align: center;
  margin: 1em 0;
}
.table {
  display: flex;
  flex-direction: column;
  max-width: 65em;
  margin: 0 auto;
}
.table-header {
  display: flex;
  padding: 0.5em;
  border: 1px solid #383131;
  border-radius: 5px;
}
.heading {
  text-align: center;
  width: calc(60em / 5);
}
.heading:not(:last-child) {
  border-right: 1px solid #383131;
}
.row {
  display: flex;
  padding: 0.5em;
  border-bottom: 1px solid #383131;
}
.col {
  width: calc(60em / 5);
  text-align: center;
}
.payment-form input {
  width: 60%;
}
